
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #fbc2eb, #a6c1ee, #ffd3a5);
}

header {
  background: linear-gradient(45deg, #f79d94, #a6c1ee);
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
  position: relative;
  top: 100px;
}


section {
  background-color: white; 
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  flex-grow: 1;
  min-width: 300px;
  max-width: 30%;
}


textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  box-sizing: border-box;
  position: relative;
  top: 5px;
}


button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #5a4b81;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2f0d84;
}


ul, ol {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}


footer {
  background-color: #333;
  color: white;
  text-align: center; 
  padding: 10px;
  position: relative;
  width: 100%;
  margin-top: 340px;
}
h1{
  text-align: center;
  color: white;
}
h2{
  color: #5a4b81;
}
.aa{ color:black;}

.ccontainner{
    text-align: center;
    padding: 20px;
    font-size: 24px;
    background-color: #5a4b81;
}